{% extends "base.html" %} {% block content %}

<div class="container border">
    <br>
    <form action="{{ url_for('auth.recoverlogin_post') }}" method="POST" id="recoverlogin-form">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-3 text-white">
                    <label for="email">{{ _('E-mail:') }}</label>
                </div>
                <div class="col-9 text-white">
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>
            </div>
        </div>
        {{ form.hidden_tag() }}
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        <br>
        <button class="btn btn-outline-primary" type="submit">{{ _('Send') }}</button>
        <br>
    </form>   
    <br> 
</div>

<script src="https://www.google.com/recaptcha/api.js?render={{ config.RECAPTCHA_PUBLIC_KEY }}"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ config.RECAPTCHA_PUBLIC_KEY }}', {action: 'recoverlogin'}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script> 
{% endblock %}
